<mat-card class="example-card" style="height: 100%; margin-top: 5%;" >
    <mat-card-header>
      <mat-card-title><h2 style="color:lightskyblue;">Site Map</h2></mat-card-title>
      <mat-card-subtitle>In case of emergency</mat-card-subtitle>
      <button mat-raised-button color="warn" style="float: right; margin-left: 30%;">Emergency!</button>
    </mat-card-header>
    <img mat-card-image src="../../assets/map.JPG" alt="Hackathon Photo">
    <mat-card-content>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-button>Share</button>
    </mat-card-actions> -->
  </mat-card>