<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2 style="color: red;">Mike's House Party</h2></mat-card-title>
      <mat-card-subtitle>University City</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/hack.JPG" alt="Hackathon Photo">
    <mat-card-content>
      <p>
        This is Mike's house party in celebration of learning a lot of information at the Philadelphia Code Festival. This will be the largest party of the world! 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-button>Share</button>
      <button mat-button style="float: right;">Site Map</button>
    </mat-card-actions>
  </mat-card>

<mat-card class="example-card" style="margin-top: 5%;">
  <h2 style="color:mediumvioletred; text-align: center;">The Concensus</h2>

  <mat-slider style="width:100%;" min="1" max="5" step=".01" thumbLabel></mat-slider>
  
  <button mat-raised-button (click)="alertify()" color="primary" style="width: 20%; text-align:center !important; display: block; margin-left: 40%; margin-right: 40%;">Submit</button>

</mat-card>