<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2 style="color: red;">Philly Codefest, Hackathon</h2></mat-card-title>
      <mat-card-subtitle>Drexel University</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/hack.JPG" alt="Hackathon Photo">
    <mat-card-content>
      <p>
          Presented this year by the College of Computing and Informatics (CCI) and CCI Corporate Partner BrickSimple, Philly Codefest is a free software and hardware hackathon that encourages students and professionals from all experience levels and backgrounds to work together to develop innovative solutions to help solve real world challenges.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Like</button>
      <button mat-raised-button color="accent">Share</button>
      <button mat-raised-button color="warn" (click)="goToEmerg()" style="float: right;">Site Map</button>
    </mat-card-actions>
  </mat-card>


<mat-card class="example-card" style="margin-top: 10%;">
    <mat-card-header>
      <mat-card-title><h2 style="color: red;">Mike's House Party</h2></mat-card-title>
      <mat-card-subtitle>University City</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/party.jpg" alt="Hackathon Photo">
    <mat-card-content>
      <p>
        This is Mike's house party in celebration of learning a lot of information at the Philadelphia Code Festival. This will be the largest party of the world! 
      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Like</button>
        <button mat-raised-button color="accent">Share</button>
        <button mat-raised-button color="warn" (click)="goToEmerg()" style="float: right;">Site Map</button>
    </mat-card-actions>
  </mat-card>



<mat-card class="example-card" style="margin-top: 10%;">
    <mat-card-header>
      <mat-card-title><h2 style="color: red;">Landmark Bar</h2></mat-card-title>
      <mat-card-subtitle>Philadelphia</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/landmark.jpg" alt="Hackathon Photo">
    <mat-card-content>
      <p>
          Landmark Worldwide (formerly Landmark Education), or simply Landmark, is a company offering personal development programs, headquartered in San Francisco.
          The current company started with the licensing of rights to use intellectual property owned by Werner Erhard, author of the est (Erhard Seminars Training). Landmark has developed and delivered multiple follow-up and additional programs. Its subsidiary, the Vanto Group, also markets and delivers training and consulting to organizations.      </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Like</button>
        <button mat-raised-button color="accent">Share</button>
        <button mat-raised-button color="warn" (click)="goToEmerg()" style="float: right;">Site Map</button>
    </mat-card-actions>
  </mat-card>
